.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
}

.hashtag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.welcome-message {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.spinner {
  text-align: center;
  margin-top: 100px;
}
